BEGIN TRAN
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
DECLARE @sldk INT
SELECT @sldk = SoLuongDangKy FROM DOAN WITH (UPDLOCK) 
WHERE MaDoAn = '2'
SET @sldk = @sldk + 5

UPDATE DOAN SET SoLuongDangKy = @sldk WHERE MaDoAn = '2'

COMMIT TRAN